openapi: 3.0.0
info:
  title: HEYS API
  version: 1.0.3
  description: HEYS Nutrition Tracker API (Yandex Cloud Functions)

servers:
  - url: https://d5d7939njvjp27ofsok0.3zvepvee.apigw.yandexcloud.net
  - url: https://api.heyslab.ru

# Реальные ID функций (Yandex Cloud)
# heys-api-rpc:    d4e9e90es31bgjp87j8i
# heys-api-rest:   d4ea4j7eh05rtkjubipt
# heys-api-sms:    d4ejimndqnd8q72r9g00
# heys-api-leads:  d4eml8vh341v41642cdu
# heys-api-health: d4e0rqplbonspm84pk3n
# heys-api-auth:   d4ef3c4o67vdg7o4c4d3

paths:
  # ═══════════════════════════════════════════════════════════════
  # RPC — PostgreSQL функции
  # ═══════════════════════════════════════════════════════════════
  /rpc:
    post:
      summary: PostgreSQL RPC calls
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e9e90es31bgjp87j8i
    options:
      summary: CORS preflight for RPC
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e9e90es31bgjp87j8i

  # ═══════════════════════════════════════════════════════════════
  # REST — CRUD операции с таблицами (query param: ?table=xxx)
  # ═══════════════════════════════════════════════════════════════
  /rest:
    get:
      summary: REST GET (SELECT) — ?table=xxx
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    post:
      summary: REST POST (INSERT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    patch:
      summary: REST PATCH (UPDATE)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    delete:
      summary: REST DELETE
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    options:
      summary: CORS preflight for REST
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt

  # REST с path parameter (альтернативный путь)
  /rest/{table}:
    get:
      summary: REST GET (SELECT) — /rest/table_name
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    post:
      summary: REST POST (INSERT)
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    patch:
      summary: REST PATCH (UPDATE)
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    delete:
      summary: REST DELETE
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    options:
      summary: CORS preflight for REST with path
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt

  # ═══════════════════════════════════════════════════════════════
  # SMS — Отправка SMS через SMS.ru
  # ⚠️ Функция удалена из прода (36e96a1e, 2026-05-22). Route отключён до
  # восстановления (см. apps/web/heys_consents_v1.js:53 — клиент перешёл на
  # web push / email-only verification). Раскомменчивать вместе с
  # пересозданием функции, получением нового function_id и обновлением
  # api-gateway-spec-v2.yaml аналогично.
  # ═══════════════════════════════════════════════════════════════
  # /sms:
  #   post:
  #     summary: SMS sending via SMS.ru
  #     x-yc-apigateway-integration:
  #       type: cloud_functions
  #       service_account_id: aje85rjgpj4nk9m384ek
  #       function_id: <RECREATE_AFTER_DEPLOY>
  #   options:
  #     summary: CORS preflight for SMS
  #     x-yc-apigateway-integration:
  #       type: cloud_functions
  #       service_account_id: aje85rjgpj4nk9m384ek
  #       function_id: <RECREATE_AFTER_DEPLOY>

  # ═══════════════════════════════════════════════════════════════
  # Leads — Лиды с лендинга
  # ═══════════════════════════════════════════════════════════════
  /leads:
    post:
      summary: Landing page leads
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4eml8vh341v41642cdu
    options:
      summary: CORS preflight for leads
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4eml8vh341v41642cdu

  # ═══════════════════════════════════════════════════════════════
  # Health — Healthcheck
  # ═══════════════════════════════════════════════════════════════
  /health:
    get:
      summary: Healthcheck
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e0rqplbonspm84pk3n
    options:
      summary: CORS preflight for health
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e0rqplbonspm84pk3n

  # ═══════════════════════════════════════════════════════════════
  # Auth — Аутентификация кураторов
  # ═══════════════════════════════════════════════════════════════
  /auth/login:
    post:
      summary: Curator login (email + password)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth login
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/verify:
    post:
      summary: Verify JWT token
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth verify
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/mobile/session-exchange:
    post:
      summary: Issue short-lived mobile WebView session exchange URL
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for mobile session exchange
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/mobile/session-exchange/consume:
    get:
      summary: Consume mobile WebView session exchange token
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/register:
    post:
      summary: Register new curator (admin only)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth register
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/mfa/{action}:
    post:
      summary: Curator MFA action (status, setup, enable, disable)
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for curator MFA
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/clients:
    get:
      summary: Get curator's clients list (requires JWT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    post:
      summary: Create new client (requires JWT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth clients
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/clients/{clientId}:
    patch:
      summary: Update client (requires JWT)
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    delete:
      summary: Delete client (requires JWT)
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth clients by ID
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/client-logout:
    post:
      summary: Revoke client PIN-session and clear HttpOnly cookie
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for client logout
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/curator-logout:
    post:
      summary: Clear curator HttpOnly cookie
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for curator logout
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  # ═══════════════════════════════════════════════════════════════
  # Telegram Bot для клиентов / HEYS Старт — heys-bot-client
  # ═══════════════════════════════════════════════════════════════
  /bot/webhook:
    post:
      summary: Telegram client bot webhook — handles /start <pin_token>
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /bot/send:
    post:
      summary: Internal send endpoint for trial drip messages
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /bot/health:
    get:
      summary: Client bot service healthcheck
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /start-bot/webhook:
    post:
      summary: HEYS Start quiz bot webhook
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /start-bot/health:
    get:
      summary: HEYS Start bot healthcheck
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  # ═══════════════════════════════════════════════════════════════
  # Push notifications — heys-api-push
  # ═══════════════════════════════════════════════════════════════
  /push/vapid-key:
    get:
      summary: Get public VAPID key
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push VAPID key
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/subscribe:
    post:
      summary: Save push subscription
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push subscribe
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/unsubscribe:
    post:
      summary: Remove push subscription
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push unsubscribe
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/prefs:
    post:
      summary: Save notification preferences
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push preferences
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/test:
    post:
      summary: Send test push
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push test
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  # ═══════════════════════════════════════════════════════════════
  # Messenger — heys-api-messages
  # ═══════════════════════════════════════════════════════════════
  /messages/send:
    post:
      summary: Send message
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages send
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/thread:
    get:
      summary: Get messages thread
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages thread
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/inbox:
    get:
      summary: Curator inbox
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages inbox
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/mark-read:
    post:
      summary: Mark messages as read
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages mark-read
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/toggle-done:
    post:
      summary: Toggle message done state
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages toggle-done
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/toggle-acked:
    post:
      summary: Toggle message acked state
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages toggle-acked
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/delete:
    post:
      summary: Delete message
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages delete
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/edit:
    post:
      summary: Edit message
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages edit
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/unread-count:
    get:
      summary: Get unread message count
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages unread-count
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/transcription-consent:
    get:
      summary: Get SpeechKit transcription consent
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    post:
      summary: Save SpeechKit transcription consent
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages transcription consent
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  # ═══════════════════════════════════════════════════════════════
  # Photos — heys-api-photos
  # ═══════════════════════════════════════════════════════════════
  /photos/upload:
    post:
      summary: Generate presigned photo upload URL
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for photos upload
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /photos/delete:
    post:
      summary: Delete photo
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for photos delete
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /media/upload:
    post:
      summary: Upload media attachment
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for media upload
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /media/delete:
    post:
      summary: Delete media attachment
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for media delete
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  # ═══════════════════════════════════════════════════════════════
  # Supabase-compatible routes (для localhost совместимости)
  # ═══════════════════════════════════════════════════════════════

  # REST v1 — Supabase SDK format /rest/v1/table_name
  /rest/v1/{table}:
    get:
      summary: Supabase-compatible REST GET
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    post:
      summary: Supabase-compatible REST POST
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    patch:
      summary: Supabase-compatible REST PATCH
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    delete:
      summary: Supabase-compatible REST DELETE
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    options:
      summary: CORS preflight for REST v1
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt

  # Auth v1 — NEW: теперь редирект на реальную auth функцию
  /auth/v1/token:
    post:
      summary: Supabase-compatible token endpoint (redirect to login)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth token
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/v1/user:
    get:
      summary: Supabase-compatible auth user check
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth user
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
