openapi: 3.0.0
info:
  title: HEYS API
  version: 1.0.3
  description: HEYS Nutrition Tracker API (Yandex Cloud Functions)

servers:
  - url: https://d5d7939njvjp27ofsok0.3zvepvee.apigw.yandexcloud.net
  - url: https://api.heyslab.ru

# Реальные ID функций (Yandex Cloud)
# heys-api-rpc:    d4e9e90es31bgjp87j8i
# heys-api-rest:   d4ea4j7eh05rtkjubipt
# heys-api-sms:    d4ejimndqnd8q72r9g00
# heys-api-leads:  d4eml8vh341v41642cdu
# heys-api-health: d4e0rqplbonspm84pk3n
# heys-api-auth:   d4ef3c4o67vdg7o4c4d3

paths:
  # ═══════════════════════════════════════════════════════════════
  # RPC — PostgreSQL функции
  # ═══════════════════════════════════════════════════════════════
  /rpc:
    post:
      summary: PostgreSQL RPC calls
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e9e90es31bgjp87j8i
    options:
      summary: CORS preflight for RPC
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e9e90es31bgjp87j8i

  # ═══════════════════════════════════════════════════════════════
  # REST — CRUD операции с таблицами (query param: ?table=xxx)
  # ═══════════════════════════════════════════════════════════════
  /rest:
    get:
      summary: REST GET (SELECT) — ?table=xxx
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    post:
      summary: REST POST (INSERT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    patch:
      summary: REST PATCH (UPDATE)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    delete:
      summary: REST DELETE
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    options:
      summary: CORS preflight for REST
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt

  # REST с path parameter (альтернативный путь)
  /rest/{table}:
    get:
      summary: REST GET (SELECT) — /rest/table_name
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    post:
      summary: REST POST (INSERT)
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    patch:
      summary: REST PATCH (UPDATE)
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    delete:
      summary: REST DELETE
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    options:
      summary: CORS preflight for REST with path
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt

  # ═══════════════════════════════════════════════════════════════
  # SMS — Отправка SMS через SMS.ru
  # ⚠️ Функция удалена из прода (36e96a1e, 2026-05-22). Route отключён до
  # восстановления (см. apps/web/heys_consents_v1.js:53 — клиент перешёл на
  # web push / email-only verification). Раскомменчивать вместе с
  # пересозданием функции, получением нового function_id и обновлением
  # api-gateway-spec-v2.yaml аналогично.
  # ═══════════════════════════════════════════════════════════════
  # /sms:
  #   post:
  #     summary: SMS sending via SMS.ru
  #     x-yc-apigateway-integration:
  #       type: cloud_functions
  #       service_account_id: aje85rjgpj4nk9m384ek
  #       function_id: <RECREATE_AFTER_DEPLOY>
  #   options:
  #     summary: CORS preflight for SMS
  #     x-yc-apigateway-integration:
  #       type: cloud_functions
  #       service_account_id: aje85rjgpj4nk9m384ek
  #       function_id: <RECREATE_AFTER_DEPLOY>

  # ═══════════════════════════════════════════════════════════════
  # Leads — Лиды с лендинга
  # ═══════════════════════════════════════════════════════════════
  /leads:
    post:
      summary: Landing page leads
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4eml8vh341v41642cdu
    options:
      summary: CORS preflight for leads
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4eml8vh341v41642cdu

  # ═══════════════════════════════════════════════════════════════
  # Health — Healthcheck
  # ═══════════════════════════════════════════════════════════════
  /health:
    get:
      summary: Healthcheck
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e0rqplbonspm84pk3n
    options:
      summary: CORS preflight for health
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e0rqplbonspm84pk3n

  # ═══════════════════════════════════════════════════════════════
  # Auth — Аутентификация кураторов
  # ═══════════════════════════════════════════════════════════════
  /auth/login:
    post:
      summary: Curator login (email + password)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth login
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/verify:
    post:
      summary: Verify JWT token
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth verify
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/mobile/session-exchange:
    post:
      summary: Issue short-lived mobile WebView session exchange URL
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for mobile session exchange
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/mobile/session-exchange/consume:
    get:
      summary: Consume mobile WebView session exchange token
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/register:
    post:
      summary: Register new curator (admin only)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth register
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/mfa/{action}:
    post:
      summary: Curator MFA action (status, setup, enable, disable)
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for curator MFA
      parameters:
        - name: action
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/products-export:
    get:
      summary: Export shared + curator client products (requires JWT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    post:
      summary: Export shared + curator client products (requires JWT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for products export
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/clients:
    get:
      summary: Get curator's clients list (requires JWT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    post:
      summary: Create new client (requires JWT)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth clients
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/clients/{clientId}:
    patch:
      summary: Update client (requires JWT)
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    delete:
      summary: Delete client (requires JWT)
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth clients by ID
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/client-logout:
    post:
      summary: Revoke client PIN-session and clear HttpOnly cookie
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for client logout
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/curator-logout:
    post:
      summary: Clear curator HttpOnly cookie
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for curator logout
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  # SEC-031: живая проверка состояния кураторского аккаунта (curators.is_active).
  # Нужна MCP-коннектору перед перевыпуском кураторского JWT на refresh-гранте.
  /auth/curator-status:
    get:
      summary: Curator account state (active / inactive / missing)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for curator status
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  # ═══════════════════════════════════════════════════════════════
  # Telegram Bot для клиентов / HEYS Старт — heys-bot-client
  # ═══════════════════════════════════════════════════════════════
  /bot/webhook:
    post:
      summary: Telegram client bot webhook — handles /start <pin_token>
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /bot/send:
    post:
      summary: Internal send endpoint for trial drip messages
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /bot/health:
    get:
      summary: Client bot service healthcheck
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /start-bot/webhook:
    post:
      summary: HEYS Start quiz bot webhook
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  /start-bot/health:
    get:
      summary: HEYS Start bot healthcheck
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ednfmrg21i8j1svtqs

  # ═══════════════════════════════════════════════════════════════
  # Push notifications — heys-api-push
  # ═══════════════════════════════════════════════════════════════
  /push/vapid-key:
    get:
      summary: Get public VAPID key
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push VAPID key
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/subscribe:
    post:
      summary: Save push subscription
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push subscribe
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/unsubscribe:
    post:
      summary: Remove push subscription
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push unsubscribe
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/prefs:
    post:
      summary: Save notification preferences
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push preferences
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  /push/test:
    post:
      summary: Send test push
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b
    options:
      summary: CORS preflight for push test
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e2d7p20llki46ctf2b

  # ═══════════════════════════════════════════════════════════════
  # Messenger — heys-api-messages
  # ═══════════════════════════════════════════════════════════════
  /messages/send:
    post:
      summary: Send message
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages send
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/thread:
    get:
      summary: Get messages thread
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages thread
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/search:
    get:
      summary: Search across the messenger thread
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages search
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/set-applied:
    post:
      summary: Curator marks a message as applied to the client day
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages set-applied
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/day-checklist:
    get:
      summary: Day checklist — what is still missing in the client day
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages day-checklist
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/inbox:
    get:
      summary: Curator inbox
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages inbox
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/mark-read:
    post:
      summary: Mark messages as read
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages mark-read
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/toggle-done:
    post:
      summary: Toggle message done state
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages toggle-done
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/set-done:
    post:
      summary: Set message done state
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages set-done
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
  /messages/toggle-acked:
    post:
      summary: Toggle message acked state
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages toggle-acked
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/set-acked:
    post:
      summary: Set message acknowledged state
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages set-acked
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
  /messages/delete:
    post:
      summary: Delete message
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages delete
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/edit:
    post:
      summary: Edit message
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages edit
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/unread-count:
    get:
      summary: Get unread message count
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages unread-count
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  /messages/transcription-consent:
    get:
      summary: Get SpeechKit transcription consent
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    post:
      summary: Save SpeechKit transcription consent
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns
    options:
      summary: CORS preflight for messages transcription consent
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ep21a89307vs93b0ns

  # ═══════════════════════════════════════════════════════════════
  # Photos — heys-api-photos
  # ═══════════════════════════════════════════════════════════════
  /photos/upload:
    post:
      summary: Generate presigned photo upload URL
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for photos upload
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /photos/read:
    post:
      summary: Authenticated messenger photo fallback
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for authenticated photo fallback
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /photos/delete:
    post:
      summary: Delete photo
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for photos delete
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /media/upload:
    post:
      summary: Upload media attachment
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for media upload
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  /media/delete:
    post:
      summary: Delete media attachment
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1
    options:
      summary: CORS preflight for media delete
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4e93t0lrfu4ng62pqa1

  # ═══════════════════════════════════════════════════════════════
  # Supabase-compatible routes (для localhost совместимости)
  # ═══════════════════════════════════════════════════════════════

  # REST v1 — Supabase SDK format /rest/v1/table_name
  /rest/v1/{table}:
    get:
      summary: Supabase-compatible REST GET
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    post:
      summary: Supabase-compatible REST POST
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    patch:
      summary: Supabase-compatible REST PATCH
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    delete:
      summary: Supabase-compatible REST DELETE
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt
    options:
      summary: CORS preflight for REST v1
      parameters:
        - name: table
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ea4j7eh05rtkjubipt

  # Auth v1 — NEW: теперь редирект на реальную auth функцию
  /auth/v1/token:
    post:
      summary: Supabase-compatible token endpoint (redirect to login)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth token
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  /auth/v1/user:
    get:
      summary: Supabase-compatible auth user check
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3
    options:
      summary: CORS preflight for auth user
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4ef3c4o67vdg7o4c4d3

  # ═══════════════════════════════════════════════════════════════
  # MCP — remote MCP connector (heys-mcp)
  # ═══════════════════════════════════════════════════════════════
  /mcp:
    get:
      summary: MCP OAuth discovery challenge
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    post:
      summary: MCP Streamable HTTP endpoint
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    options:
      summary: CORS preflight for MCP
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/curator:
    get:
      summary: MCP OAuth discovery challenge for the curator connector
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    post:
      summary: MCP Streamable HTTP endpoint for the curator connector
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    options:
      summary: CORS preflight for the curator MCP endpoint
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/chatgpt/curator:
    get:
      summary: ChatGPT-specific MCP OAuth discovery challenge for the curator connector
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    post:
      summary: ChatGPT-specific MCP Streamable HTTP endpoint for the curator connector
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    options:
      summary: CORS preflight for the ChatGPT curator MCP endpoint
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/register:
    post:
      summary: OAuth 2.1 dynamic client registration (RFC 7591)
      x-yc-apigateway-throttling:
        rate: 10
        unit: MINUTE
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    options:
      summary: CORS preflight for dynamic client registration
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/authorize:
    get:
      summary: OAuth authorization page (phone + PIN)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    post:
      summary: OAuth authorization form submit
      x-yc-apigateway-throttling:
        rate: 5
        unit: MINUTE
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/token:
    post:
      summary: OAuth token endpoint (authorization_code, refresh_token)
      x-yc-apigateway-throttling:
        rate: 30
        unit: MINUTE
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    options:
      summary: CORS preflight for the token endpoint
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-protected-resource:
    get:
      summary: OAuth protected resource metadata (RFC 9728)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-protected-resource/mcp:
    get:
      summary: OAuth protected resource metadata for /mcp
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach:
    get:
      summary: Attach page — app shell or login form depending on session cookie
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/board:
    get:
      summary: Board PWA — tasks snapshot (PIN session, curator client only)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
    options:
      summary: Board PWA — CORS preflight
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach/login:
    post:
      summary: Attach page — curator email+password(+2FA) login
      x-yc-apigateway-throttling:
        rate: 5
        unit: MINUTE
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach/logout:
    post:
      summary: Attach page — clear session cookie
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach/search:
    get:
      summary: Attach page — find a task by board address or title words
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach/upload:
    post:
      summary: Attach page — upload a file to a task (same path as tasks_attach)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach/manifest.webmanifest:
    get:
      summary: Attach page — PWA manifest (unauthenticated, static)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /mcp/attach/icon.png:
    get:
      summary: Attach page — PWA icon (unauthenticated, static)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-protected-resource/mcp/curator:
    get:
      summary: OAuth protected resource metadata for /mcp/curator
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-protected-resource/mcp/chatgpt/curator:
    get:
      summary: OAuth protected resource metadata for /mcp/chatgpt/curator
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-authorization-server:
    get:
      summary: OAuth authorization server metadata (RFC 8414)
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-authorization-server/mcp:
    get:
      summary: OAuth authorization server metadata for /mcp
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-authorization-server/mcp/curator:
    get:
      summary: OAuth authorization server metadata for /mcp/curator
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8

  /.well-known/oauth-authorization-server/mcp/chatgpt/curator:
    get:
      summary: OAuth authorization server metadata for /mcp/chatgpt/curator
      x-yc-apigateway-integration:
        type: cloud_functions
        service_account_id: aje85rjgpj4nk9m384ek
        function_id: d4egv2a6pdhmf5hbrgp8
