EXPO_PUBLIC_API_URL=http://192.168.1.10:3001
EXPO_PUBLIC_HEYS_WEB_URL=https://app.heyslab.ru
EXPO_PUBLIC_SUPPORT_URL=https://t.me/heyslab_support_bot
EXPO_PUBLIC_PRIVACY_URL=https://app.heyslab.ru/docs/privacy-policy.md
EXPO_PUBLIC_TERMS_URL=https://app.heyslab.ru/docs/user-agreement.md
EXPO_PUBLIC_ACCOUNT_DELETION_URL=https://app.heyslab.ru/docs/privacy-policy.md
