openapi: 3.1.0
info:
  title: HEYS Planning Context Ingest API
  version: 1.0.0
  description: |
    Server-side ingest endpoint for context payload copied from HEYS "🧠 Всё".
    The endpoint parses context, applies anti-duplicate rules, and upserts
    planning entities (inbox items, tasks, links) for the authenticated user.
servers:
  - url: https://api.heyslab.ru
paths:
  /planning/context-ingest:
    post:
      summary: Ingest context and apply planning updates
      description: |
        Parses snapshot payload, computes mode, applies dedupe policy, and writes
        changes immediately when applyNow=true.
      operationId: planningContextIngest
      tags: [Planning]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextIngestRequest'
      responses:
        '200':
          description: Ingest completed (created/updated/skipped reported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextIngestResponse'
        '400':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency conflict (payload mismatch for same key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Parsing failed (insufficient or malformed context)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ContextIngestRequest:
      type: object
      additionalProperties: false
      required:
        - source
        - applyNow
        - idempotencyKey
        - dryRun
        - input
        - policy
      properties:
        parentIngestId:
          type: string
          description: Optional parent ingest id for follow-up answers flow
        source:
          type: string
          enum:
            - heys_context_all_button
            - heys_context_manual
          description: Caller/source marker for observability
        applyNow:
          type: boolean
          description: Apply changes immediately if true
        idempotencyKey:
          type: string
          minLength: 16
          maxLength: 256
          description: Unique key for safe retries
        dryRun:
          type: boolean
          description: If true, no writes are performed
        input:
          $ref: '#/components/schemas/ContextIngestInput'
        policy:
          $ref: '#/components/schemas/ContextIngestPolicy'
    ContextIngestInput:
      type: object
      additionalProperties: false
      required:
        - snapshotText
        - daysLast5Text
        - clientTs
        - timezone
      properties:
        snapshotText:
          type: string
          minLength: 1
        daysLast5Text:
          type: string
          minLength: 1
        rawPromptText:
          type: string
        clientTs:
          type: string
          format: date-time
        timezone:
          type: string
          example: Europe/Moscow
    ContextIngestPolicy:
      type: object
      additionalProperties: false
      required:
        - antiDuplicateFirst
        - maxNowTasks
      properties:
        antiDuplicateFirst:
          type: boolean
        allowDestructiveOverwrite:
          type: boolean
          description: When true, bypasses safety guard that blocks destructive KV overwrites
        maxNowTasks:
          type: integer
          minimum: 1
          maximum: 10
        linkToExisting:
          type: boolean
          default: true
          description: When true, add conservative related links from new inbox nodes to similar existing inbox/tasks
        linkToExistingMin:
          type: number
          minimum: 0
          maximum: 1
          default: 0.38
          description: Minimum Jaccard token similarity to create a semantic neighbor link
        linkToExistingMaxLinks:
          type: integer
          minimum: 0
          maximum: 50
          default: 6
          description: Cap on ingest_semantic_neighbor links added per request
        linkToExistingMaxNewNodes:
          type: integer
          minimum: 0
          maximum: 50
          default: 8
          description: Max newly created inbox items considered as sources for semantic neighbor linking
        createSlotsFromIngestHints:
          type: boolean
          default: true
          description: When true, create calendar slots from parsed schedule hints on tasks (heys_planning_slots)
        maxSlotsPerIngest:
          type: integer
          minimum: 0
          maximum: 50
          default: 12
          description: Cap on new slots added per ingest from schedule hints
        promoteHeuristics:
          type: object
          additionalProperties: false
          properties:
            allowPromoteFromCapture:
              type: boolean
            preferExistingProject:
              type: boolean
    ContextIngestResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - mode
        - summary
        - nodes
        - links
        - plan
        - audit
      properties:
        ok:
          type: boolean
          const: true
        mode:
          type: string
          enum: [careful, steady, focus]
        summary:
          type: object
          additionalProperties: false
          required:
            - created
            - updated
            - linked
            - skippedAsDuplicate
          properties:
            created:
              type: integer
              minimum: 0
            updated:
              type: integer
              minimum: 0
            linked:
              type: integer
              minimum: 0
            skippedAsDuplicate:
              type: integer
              minimum: 0
        nodes:
          type: object
          additionalProperties: false
          required: [created, updated, skipped]
          properties:
            created:
              type: array
              items:
                $ref: '#/components/schemas/NodeResult'
            updated:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/NodeResult'
                  - type: object
                    properties:
                      reason:
                        type: string
                        enum: [semantic_match, exact_match, policy_merge]
            skipped:
              type: array
              items:
                type: object
                additionalProperties: false
                required: [candidate, score, reason]
                properties:
                  candidate:
                    type: string
                  matchedId:
                    type: string
                    nullable: true
                  score:
                    type: number
                    minimum: 0
                    maximum: 1
                  reason:
                    type: string
                    enum: [exact_match, semantic_match, safe_skip]
        links:
          type: object
          additionalProperties: false
          required: [created]
          properties:
            created:
              type: array
              items:
                type: object
                additionalProperties: false
                required: [id, fromId, toId, relation]
                properties:
                  id:
                    type: string
                  fromId:
                    type: string
                  toId:
                    type: string
                  relation:
                    type: string
                    enum: [promoted_to, causes, blocks, related, supports, contradicts]
                  label:
                    type: string
        plan:
          type: object
          additionalProperties: false
          required: [now, next, later]
          properties:
            now:
              type: array
              items:
                type: string
            next:
              type: array
              items:
                type: string
            later:
              type: array
              items:
                type: string
        audit:
          type: object
          additionalProperties: false
          required: [idempotencyKey, requestHash, appliedAt]
          properties:
            ingestId:
              type: string
            parentIngestId:
              type: string
              nullable: true
            idempotencyKey:
              type: string
            requestHash:
              type: string
            appliedAt:
              type: string
              format: date-time
            applyStatus:
              type: string
              enum: [applied, analyzed_only]
        unresolved:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [id, title, type, status]
            properties:
              id:
                type: string
              title:
                type: string
              type:
                type: string
              status:
                type: string
                enum: [waiting_for_clarification]
        nextQuestions:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [id, itemId, question]
            properties:
              id:
                type: string
              itemId:
                type: string
              question:
                type: string
        metrics:
          type: object
          additionalProperties: false
          required: [parseEntries, unresolvedCount, durationMs, fallbackUsed]
          properties:
            parseEntries:
              type: integer
              minimum: 0
            unresolvedCount:
              type: integer
              minimum: 0
            durationMs:
              type: integer
              minimum: 0
            fallbackUsed:
              type: boolean
            fallbackReason:
              type: string
              nullable: true
            safetyGuardEnabled:
              type: boolean
            safetyGuardBypass:
              type: boolean
            semanticNeighborLinksAdded:
              type: integer
              minimum: 0
              description: Count of ingest_semantic_neighbor links added in this ingest
            scheduleFieldsApplied:
              type: integer
              minimum: 0
              description: Task fields set/updated from parsed dates/durations (startDate, dueDate, plannedMinutes)
            ingestSlotsAdded:
              type: integer
              minimum: 0
              description: New calendar slots written for tasks from schedule hints
    NodeResult:
      type: object
      additionalProperties: false
      required: [id, type, title]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [capture, task, thread, decision, question, constraint, value]
        title:
          type: string
        priority:
          type: string
          enum: [p1, p2, p3]
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
            details:
              type: object
              additionalProperties: true
